Redirect 301 /https://moamazorka.github.io/jorstkyseo/kulyampa.html /https://moamazorka.github.io/jorstkyseo/kulyampa8.html
Redirect 301 /https://moamazorka.github.io/jorstkyseo/pib.html /https://moamazorka.github.io/jorstkyseo/pib8.html
